._Home {
  background-color: #ebe9d7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100vw;
  height: 7.438rem;
  justify-self: stretch;
  background-image: linear-gradient(
    0deg,
    rgba(194, 62, 105, 1) 0%,
    rgba(238, 76, 119, 1) 99%,
    rgba(65, 155, 249, 1) 100%
  );
}

.Clique-na-busca-para {
  width: 34.125rem;
  height: 2.438rem;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.45px;
  text-align: center;
  color: #383743;
}

._Home > div {
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
}

#inicio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lista {
  height: 100%;
}
