.card {
  width: 57.69rem;
  height: 13.366rem;
}

.img {
  margin-top: 25px;
  margin-left: 20px;
  width: 18.313rem;
  height: 10rem;
  object-fit: contain;
}

.Empresa1 {
  width: 30.143rem;
  height: 2.438rem;
  font-family: Roboto;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-indigo);
}

.Negcio {
  width: 10.79rem;
  height: 2rem;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.Brasil {
  width: 7.483rem;
  height: 1.5rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

#cardImage.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  padding: 1.688rem 0 1.679rem 1.914rem;
}

.cardResume.MuiCardContent-root {
  margin-left: 2.461rem;
}
