.centerSearchBar {
  margin: auto;
}

.ArrowBack .MuiSvgIcon-colorPrimary {
  color: white;
}

span .MuiSvgIcon-colorPrimary {
  color: white;
}

.search .MuiInput-underline::before {
  border-bottom: 2px solid white;
}

.search .MuiInput-underline::after {
  border-bottom: 2px solid white;
}

#searchInput.MuiInputBase-input {
  width: 60.766rem;
}

.inputAlign {
  margin-left: -18rem;
}
