._Login {
  background-color: #ebe9d7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo_home {
  width: 18.438rem;
  height: 4.5rem;
  object-fit: contain;
}

.BEM-VINDO-AO-EMPRESA {
  width: 11rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
}

.Lorem-ipsum-dolor-si {
  width: 22.359rem;
  height: 3.25rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.25px;
  text-align: center;
  color: #383743;
}

.indent {
  text-indent: 35px;
}

.prefix {
  margin: -6px 36px;
}

form {
  width: 450px;
}

.col.s12 > .btn {
  margin-left: 125px;
  width: 250px;
}

input::placeholder {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  text-align: left;
  color: #383743;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div:nth-child(2) {
  bottom: 1rem;
}

.teste {
  margin-top: 4.688rem;
  margin-bottom: 2.375rem;
}

.Credenciais-informad {
  width: 21.75rem;
  height: 1.5rem;
  margin: 1.75rem 0.438rem -0.875rem 0.938rem;
  font-family: Roboto;
  font-size: 0.96rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.95;
  letter-spacing: -0.17px;
  text-align: center;
  color: #ff0f44;
}

.erroIcon {
  margin: 0.125rem 0.5rem 0 0.563rem;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  text-align: center;
}

.Oval {
  width: 1.44rem;
  height: 1.5rem;

  background-color: #ff0f44;
  border-radius: 50%;
}

div.MuiInput-underline::after {
  border-bottom: 2px solid #57bbbc;
}

input.MuiInputBase-input {
  width: 21.75rem;
}

.button-login.MuiButton-containedPrimary {
  background-color: #57bbbc;
}

.button-login.MuiButton-containedPrimary:hover {
  background-color: #57bbbc;
}

div.MuiPaper-root {
  background-color: (transparent);
}

.loginButton {
  margin-top: 2.668rem;
  width: 27.75rem;
}
