.NavDetalhe {
  justify-content: end;
  align-items: center;
}

.EmpresaDetalhe {
  background-color: #ebe9d7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Detalhe {
  background-color: #ebe9d7;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  margin-bottom: 10%;
}

#cardDetalhe {
  margin-top: 2.75rem;
  width: 64rem;
  height: 75.375rem;
}

.a {
  font-size: 2.125rem;
  text-align: center;
}

i {
  font-size: 50px !important;
}

.ArrowBackDetalhe {
  align-self: center;
}

.ArrowBackDetalhe .MuiSvgIcon-colorPrimary {
  color: white;
}

#arrowBackDetalhe.MuiSvgIcon-root {
  font-size: 2.188rem;
}

.Empresa {
  margin: 0.4rem 0 0.625rem 0.25rem;
  font-family: Roboto;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.textBox {
  width: 47.625rem;
  min-height: 23.625rem;
  max-height: 34.625rem;
  margin: 0.063rem 5rem 8.125rem 8.213rem;
}

.CardDetalheImagem.MuiCardMedia-media {
  width: 48.5rem;
  height: 18.438rem;
  padding: 3rem 4.668rem 3.063rem 7.653rem;
}

.textContentDetalhe {
  font-family: SourceSansPro;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d8c8c;
}
